@theme {
  --color-primary: #124d99;
  --color-main-bg: #f4f4f4;
  --color-green-light: #29d846;
  --color-green-dark: #10a058;
  --color-primary-text: #296dfc;
  --color-gray-text: #828a93;
  --color-yello-text: #ffae42;
  --color-megneta: #a61d55;
  --color-border-gray: #828a93;
  --color-black: #000;
  --color-white: #fff;
}
